/* .Box {
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
} */

.boxBody {
  display: flex;
  gap: 30px;
  border: 7px solid blue;
  padding: 10px;
  border-radius: 17px;
  margin: 0 0 25px 0;
}

/* img */
.ImageDiv {
  width: 205px;
  height: 185px;
  border-radius: 15px;
  border: 4px dashed;
  border-color: blue;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.ImgDiv {
  width: 190px;
  height: 170px;
  border-radius: 15px;
}
/* img end */

/* datail */
.detailsBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.detailCard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailCard h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.detailCard label {
  font-size: 18px;
  font-weight: 800;
}

/* button */
.btnBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
